/* Stars */

#pc_star_controls{
    font-size:10px;
    float: left;
    margin: 3px 0 0 0;
}

/* Tab completion */

.pc_complete{
  text-align:left;
}

.pc_complete li.chosen{
  box-shadow:0 0 2px rgba(0,0,0,0.8);
  color:#FFF;
  background-color:#000;
  border-color:#000;
}

#tabcomplete li *{
  vertical-align:middle;
}

.pc_complete li{
  display:inline-block;
  background-color:#FFF;
  color:#000;
  border:1px solid #888;
  box-shadow:0 0 2px rgba(0,0,0,0.3);
  cursor:pointer;
  height:18px;
  white-space:nowrap;
  margin:5px 5px 0 0;
  padding:2px 5px 2px 2px;
}

.pc_complete li img{
  margin-right:3px;
}

/* Upload */

#dropper
{
  display:none;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
  z-index:9999;
}

#dropper h1
{
  text-align:center;
  padding-top:200px;
  position:absolute;
  width:100%;
  color:#FFF;
  font-size:450%;
  font-weight:700;
  font-family:Helvetica;
}

/* burning */

.burn .img.vote {
  line-height: 7px;
  margin-right: 5px;
}

/* hamstare */

#hamstare{
    height:23px;
    text-align: center;
    position: relative;
    display: inline;
}
#stares{
    position: absolute;
    top: -203px;
    left: -75px;
    min-height: 170px;
    width: 200px;
    background: inherit;
    border:1px solid #555;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border-radius: 3px;
    cursor:default;
    text-align: left;
    opacity: 0;
    transition:opacity 0.2s;
    overflow-y:scroll;
    padding-bottom:30px;
    pointer-events:none;
}
#stares.shown{
    opacity: 1;
    transition:opacity 0.2s;
    pointer-events:auto;
}
#stares button.button {
  margin-left: 5px;
  height: 23px;
  display: block;
  float: left;
  max-width: 80px;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  padding: 1px 4px;
}
#stares button.button.highlight{
    max-width: none;
}
#stares button.button.remove{
    color: #a00 !important;
}
#hamstare_controls{
  position: absolute;
  left: 0;
  bottom: 0px;
}
#stares #hamstare_cancel.button.highlight{
    display: none;
}
#pc_about_shade{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
}
#pc_about{
    width: 400px;
  margin: 100px auto;
  text-align: center;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 5px 10px #000;
  border: 2px solid #999;
  color: #333;
  padding: 30px 20px 40px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: lighter;
}
#pc_about img{
  margin-bottom: 30px;
}
.message.emoji {
  font-size: 36px;
  transition: font-size 0.2s;
}
.message.emoji .popup{
  line-height: 1.5em;
}
div.message.emoji .meta{
  bottom:20px;
}
div.message.emoji a.action-link .img.menu{
  margin-top: 5px;
  display: block;
}
.img-hover{
  position: fixed;
  top: 50px;
  left: 50px;
  max-width: 50%;
  z-index: 999;
  background: #222;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 50px #000;
}
.img-hover img{
  max-width: 100%;
  max-height: 100%;
}
p.about-muted {
  opacity: 0.5;
}
.ob-tweet {
  max-height: 400px;
  overflow-y: auto;
}
.ob-tweet img.user-image{
  display: block;
}
.ob-profile-image a img{
  width: 36px;
  height: 36px;
  border-radius: 30px;
}
.twitter-gall{
  clear: both;
}
.rainbow {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 10s ease infinite;
}
@keyframes rainbow {
  0%  {
    color: #dd00f3;
    background-position:0% 82%
  }
  10% { color: #dd00f3 }
  20% { color: #2b1de8 }
  30% { color: #d35400 }
  40% { color: #1ddde8 }
  50% {
    color: #1de840;
    background-position:100% 19%
  }
  60% { color: #e3e81d }
  70% { color: #e8b71d }
  80% { color: #e81d1d }
  90% { color: #ff2400 }
  100%{
    color: #dd00f3;
    background-position:0% 82%;
  }
}
.spin {
  animation: spin 9s linear infinite;
}
@keyframes spin {
  100% { transform:rotate(360deg) }
}
